<div class="container">
    <form>
        <section class="form-group">
            <img src="../../../assets/profOak.png" width="350rem">
            <input class="form-control" autoComplete="off" type="text" name="username"
                placeholder="First, what is your name?" [(ngModel)]='user.username' />
            <br>
            <button class="btn btn-primary" type="submit" (click)='onRegisterClicked()'>OK</button>
        </section>
    </form>
</div>
