<div class="container">

    <div *ngIf="capturedPokemon">
        <div id="capturedPokemon" class="list-group" *ngFor="let pokemon of capturedPokemon">
            <a class="list-group-item list-group-item-action" (click)="onPokemonSelected(pokemon)">
                <p id="pokemonName" style="display:inline-block;" id="ownedPokemonName">{{pokemon.name}}</p>
                <img style="float: right;" id="ownedPokemonImage" src="{{pokemon.sprites.front_default}}"
                    alt="{{pokemon.name}} in all its glory!">
            </a>
        </div>
    </div>

    <div *ngIf="!capturedPokemon">
        <a>Go to catalogue to catch some Pokémon!</a>
        <img src="../../../assets/ash.png" width="200"/>
    </div>
    
</div>