
.card-img-top {
    width: 150px;
    
}

.card-title {
    text-transform: capitalize;
}
.card-text {
    text-transform: capitalize;
}

.card-body {
    float: left;
}

#pokemonType {
    text-transform: capitalize;
    padding-right: 10px;
}