<div class="card" style="width: 18rem;">
    <img src="{{pokemon.sprites.front_default}}" class="card-img-top" alt="{{pokemon.name}} in all its glory"/>
    <div class="card-body">
      <h3 class="card-title">{{pokemon.name}}</h3>
      <ul>
        <li id="pokemonType" *ngFor="let type of pokemon.types">
          {{type.type.name}}
        </li> 
      </ul>
      <p class="card-text">Base experience: {{pokemon.base_experience}}</p>
      <h1></h1>
      <h4>Physics</h4>
      <ul>
        <li>
          Height: {{pokemon.height}}
        </li>
        <li>
          Weight: {{pokemon.weight}}
        </li>
      </ul>
      
      <button type="button" class="btn btn-primary" (click)="onCapturePokemonClicked()">Catch it!</button>
    </div>
  </div>
