.col-sm-3 {
    width: 8rem; 
    -webkit-box-shadow: 5px 5px 26px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 26px -5px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 26px -5px rgba(0,0,0,0.75); 
    cursor: pointer;
    border-radius: 20px;
}
.card-body {
    text-transform: capitalize;
}